Repository TaumuLu/react-scroll-paged-view: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

temp: update example
  README.md
  README_zh-CN.md
Due: prettier --write

temp: replace ts
  .eslintignore
  .eslintrc.js
  .eslintrc.yml
  .prettierrc
  README.md
  README_zh-CN.md
  commitlint.config.js
  package-lock.json
  package.json
  src/components/RNScrollView.js
  src/components/RNScrollView.tsx
  src/components/agent-scroll-view.tsx
  src/components/common.js
  src/components/common.ts
  src/components/index.ts
  src/components/index.web.tsx
  src/components/scene-component.js
  src/components/scroll-view-monitor.js
  src/components/static-container.ts
  src/decorators/connect.ts
  src/decorators/index.ts
  src/decorators/scroll-paged-hoc.tsx
  src/decorators/view-paged-hoc.tsx
  src/index.tsx
  src/index.web.tsx
  src/prop-types/common.ts
  src/prop-types/index.ts
  src/prop-types/index.web.js
  src/prop-types/index.web.ts
  src/types/index.ts
  src/utils/common.ts
  src/utils/index.ts
  src/utils/index.web.ts
  src/view-paged/index.tsx
  src/view-paged/index.web.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

feat: upgrade ts
  .editorconfig
  .eslintrc.js
  package-lock.json
  package.json
  src/abstract-class/common.ts
  src/abstract-class/index.ts
  src/abstract-class/scroll-paged-abstract.tsx
  src/abstract-class/view-paged-abstract.tsx
  src/decorators/connect.ts
  src/decorators/index.ts
  src/decorators/scroll-paged-hoc.tsx
  src/decorators/view-paged-hoc.tsx
  src/index.ts
  src/prop-types/common.ts
  src/prop-types/index.ts
  src/scroll-paged/index.tsx
  src/scroll-paged/scroll-paged.tsx
  src/scroll-paged/scroll-paged.web.tsx
  src/types/index.ts
  src/view-paged/index.tsx
  src/view-paged/view-paged.tsx
  src/view-paged/view-paged.web.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

fix: onChange error
  src/components/agent-scroll-view.tsx
  src/scroll-paged/index.tsx
Due: eslint --fix

temp: update gitignore
  .gitignore
Due: none

update https://registry.npm.taobao.org to https://registry.npmmirror.com
  .npmrc
Due: none

Path conditions:
  prettier --write: any of: *.{json,html,md}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
